<h1>Wyniki testu migracji</h1>

<div class="actions">
<!--  <button (click)="runTestsFlyway()">Uruchom testy Flyway</button>-->
  <button (click)="resetDB()">Zresetuj bazę danych</button>
  <button routerLink="/preview">Podgląd danych z bazy</button>
</div>

<hr>

<section>
  <h2>Liquibase</h2>
  <div class="liquibase-scenarios" >
    <button (click)="runTestsLiquibaseS1()">Uruchom testy Liquibase - Scenariusz 1.</button>
    <button (click)="runLiquibaseStep(6)">Uruchom testy Liquibase - Scenariusz 2.</button>
  </div>
  <div class="liquibase-scenario1-iterations">
    <label>Wpisz liczbe iteracji 1. scenariusza:</label>
    <input id="liquibase-scenario1-iterations-n" type="number" min="1" [(ngModel)]="scenario1_iter_lb" />

    <button (click)="runLiquibaseScenario1_Iterations(scenario1_iter_lb)">
      Wykonaj scenariusz 1. {{ scenario1_iter_lb }} razy
    </button>
  </div>
  <div class="liquibase-scenario2-iterations">
    <label>Wpisz liczbe iteracji 2. scenariusza:</label>
    <input id="liquibase-scenario2-iterations-n" type="number" min="1" [(ngModel)]="scenario2_iter_lb" />

    <button (click)="runLiquibaseScenario2_Iterations(scenario2_iter_lb)">
      Wykonaj scenariusz 2. {{ scenario2_iter_lb }} razy
    </button>
  </div>
  <div class="liquibase-buttons">
    <button *ngFor="let i of [1,2,3,4,5,6]" (click)="runLiquibaseStep(i)">
      Kontekst {{ i }}
    </button>
  </div>

  <table *ngIf="resultsLiquibase.length" class="table table-bordered">
    <caption>Wyniki Liquibase</caption>
    <thead>
    <tr>
      <th>Kontekst</th><th>Czas migracji (ns)</th><th>Czas rollback (ns)</th>
      <th>Exit code</th><th>Linie skryptu</th><th>CPU (%)</th><th>Pamięć (B)</th><th>Success Rate (%)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of resultsLiquibase">
      <td>{{ r.scenario }}</td>
      <td>{{ r.migrationTimeNs }}</td>
      <td>{{ r.rollbackTimeNs }}</td>
      <td>{{ r.exitCode }}</td>
      <td>{{ r.scriptLines }}</td>
      <td>{{ r.cpuUsage }}</td>
      <td>{{ r.memoryUsage }}</td>
      <td>{{ r.successRate }}</td>
    </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Rollback Liquibase</h2>
  <label for="rollback-context-lb">Wpisz kontekst (1–6):</label>
  <input id="rollback-context-lb" type="number" min="1" max="6" [(ngModel)]="rollbackContext" />

  <button (click)="runLiquibaseRollback(rollbackContext)">
    Wykonaj rollback kontekstu {{ rollbackContext }}
  </button>


  <div *ngIf="rollbackResult">
    <h3>Wynik rollbacku</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Kontekst</th><th>Czas rollback (ns)</th><th>Exit code</th><th>Linie skryptu</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ rollbackResult.scenario }}</td>
        <td>{{ rollbackResult.rollbackTimeNs }}</td>
        <td>{{ rollbackResult.exitCode }}</td>
        <td>{{ rollbackResult.scriptLines }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<hr>
<section>
  <h2>Flyway</h2>
  <div class="flyway-scenarios" >
    <button (click)="runTestsFlywayS1()">Uruchom testy Flyway - Scenariusz 1.</button>
    <button (click)="runFlywayStep(6)">Uruchom testy Flyway - Scenariusz 2.</button>
  </div>
  <div class="flyway-scenario1-iterations">
    <label>Wpisz liczbe iteracji 1. scenariusza:</label>
    <input id="flyway-scenario1-iterations-n" type="number" min="1" [(ngModel)]="scenario1_iter_lb" />

    <button (click)="runFlywayScenario1_Iterations(scenario1_iter_lb)">
      Wykonaj scenariusz 1. {{ scenario1_iter_lb }} razy
    </button>
  </div>
  <div class="flyway-scenario2-iterations">
    <label>Wpisz liczbe iteracji 2. scenariusza:</label>
    <input id="flyway-scenario2-iterations-n" type="number" min="1" [(ngModel)]="scenario2_iter_lb" />

    <button (click)="runFlywayScenario2_Iterations(scenario2_iter_lb)">
      Wykonaj scenariusz 2. {{ scenario2_iter_lb }} razy
    </button>
  </div>
  <div class="flyway-buttons">
    <button *ngFor="let i of [1,2,3,4,5,6]" (click)="runFlywayStep(i)">
      Kontekst {{ i }}
    </button>
  </div>

  <table *ngIf="resultsFlyway.length" class="table table-bordered">
    <caption>Wyniki Flyway</caption>
    <thead>
    <tr>
      <th>Kontekst</th><th>Czas migracji (ns)</th><th>Czas rollback (ns)</th>
      <th>Exit code</th><th>Linie skryptu</th><th>CPU (%)</th><th>Pamięć (B)</th><th>Success Rate (%)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of resultsFlyway">
      <td>{{ r.scenario }}</td>
      <td>{{ r.migrationTimeNs }}</td>
      <td>{{ r.rollbackTimeNs }}</td>
      <td>{{ r.exitCode }}</td>
      <td>{{ r.scriptLines }}</td>
      <td>{{ r.cpuUsage }}</td>
      <td>{{ r.memoryUsage }}</td>
      <td>{{ r.successRate }}</td>
    </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>Rollback Flyway</h2>
  <label for="rollback-context-fw">Wpisz kontekst (1–6):</label>
  <input id="rollback-context-fw" type="number" min="1" max="6" [(ngModel)]="rollbackContext" />

  <button (click)="runFlywayRollback(rollbackContext)">
    Wykonaj rollback kontekstu {{ rollbackContext }}
  </button>


  <div *ngIf="rollbackResult">
    <h3>Wynik rollbacku</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Kontekst</th><th>Czas rollback (ns)</th><th>Exit code</th><th>Linie skryptu</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ rollbackResult.scenario }}</td>
        <td>{{ rollbackResult.rollbackTimeNs }}</td>
        <td>{{ rollbackResult.exitCode }}</td>
        <td>{{ rollbackResult.scriptLines }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<hr>
